$dark_gray: #333333;
$light_gray: #C0C1C1;
$blue: #58a0f1;

@mixin bold_font {
	font-family: "Brandon Grotesque","Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

* {
	box-sizing: border-box;
}

body {
	// hiding signed in and sign out status - change padding to 4.5rem to see.
	padding-top: 2.8rem;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	width: 85%;
	margin: 0 auto;
}

.wrapper_with_padding {
	width: 85%;
	margin: 0 auto;
	padding: 2.3rem 0;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

button, .button {
	border: none;
	outline: none;
	display: inline;
	background: $blue;
	padding: 0.3rem 2rem;
	border-radius: 2rem;
	a {
		color: white;
		font-size: 1.4rem;
		text-decoration: none;
	}
	&:hover {
		color: $dark_gray;
	}
}

.button {
	color: white;
	margin: 2rem 0;
	font-size: 1.4rem;
}

a {
	color: $blue;
	text-decoration: none;
	&:hover {
		color: $dark_gray;
	}
}

header {
	background: $dark_gray;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 1.5rem;
	border-bottom: 7px solid $blue;
	.header_inner {
		width: 90%;
		margin: 0 auto;
		#logo {
			display: inline-block;
			width: 10rem;
			float: left;
		}
		nav {
			float: right;
			a {
				text-decoration: none;
				color: white;
				font-size: 1.4rem;
				line-height: 1.5;
				margin-left: 1rem;
				&:hover {
					color: $blue;
				}
			}
		}
	}
}

img {
	width: 80px;
	height: 45px;
}
footer {
	background: $dark_gray;
	width: 100%;
	padding: 2rem 0;
	color: white;
	text-align: center;
	@include bold_font;
	p {
		margin: 0;
		font-size: 1rem;
	}
}

input[type="text"], input[type="email"], input[type="password"], textarea {
	width: 100%;
	margin-bottom: 1rem;
	border: 1px solid $light_gray;
	border-radius: .4rem;
	display: block;
}

input[type="text"], input[type="email"], input[type="password"] {
	height: 30px;
	width: 285px;
	display: block;
	margin-top: 5px;
	padding-left: 8px;
}

textarea {
	min-height: 200px;
}
