<div id="banner">
  <div class="banner_content">
    <h1>Note-App</h1>
    <p>Your online notebook! A place for all your notes!</p>
    <button>
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
</div>

<hr />

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2>Friends</h2>
        <p>Watch Season 9 Episode 10</p>
      </div>
      <div class="callout">
        <h2>24</h2>
        <p>Jack Bauer is not coming back!</p>
      </div>
      <div class="callout">
        <h2>House of Cards</h2>
        <p>Coming soon!</p>
      </div>
    </div>
  </div>
</div>

<div id="bottom_cta">
  <div class="wrapper">
    <p>Interested in signing up with us! Click Below!</p>
    <button>
      <%= link_to "Sign Up!", new_user_registration_path %>
    </button>
  </div>
</div>
<footer>
  <p>&copy;Kaushal Patel</p>
</footer>
